.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    min-width: 600px;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 6px 6px 13px 0px black;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.deleteButton,
.checkButton {
    font-size: 25px;
    color: saddlebrown;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 700;
}


.deleteButton:hover {
    transform: scale(1.2);
    color: rgb(190, 24, 24);
}

.checkButton:hover {
    transform: scale(1.2);
    color: rgb(30, 134, 44);
}

.checkedButton {
    color: rgb(160, 160, 160);
    transition: all 0.4s ease;
    font-size: 25px;
    cursor: pointer;
}

.checkedButton:hover {
    transform: scale(1.2);
}

.checkedTodo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    min-width: 600px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.253);
    color: white;
}